<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Giuseppes Pizzeria</title>
</head>
<body>
    <div class="container">
        <img class="title-background" src="https://res.cloudinary.com/dkpchnxiu/image/upload/v1647344787/GiuseppesImages/title_background_ym4hwo.png" alt="italian flag styled background">
        <h1 class="centered title">Giuseppes Pizzeria</h1>
    </div>
</body>
</html>