<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/0c1ca09b2f.js" crossorigin="anonymous"></script>
    <title>Giuseppes Pizzeria</title>
</head>
<body>
    <div class="container-fluid bg-opacity">
        <div class="row">
            <nav class="navbar nav-pills sticky-top navbar-light nav-justified">
                <a href="#" class="nav-item nav-link active red"><i class="fas fa-home"> Home</i></a>
                <a href="#" class="nav-item nav-link red"><i class="fas fa-calendar"> Booking</i></a>
                <a href="#" class="nav-item nav-link red"><i class="fas fa-address-book"> Contact</i></a>
                <a href="#" class="nav-item nav-link red"><i class="fas fa-newspaper"> Menu</i></a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img class="title-background" src="https://res.cloudinary.com/dkpchnxiu/image/upload/v1647344787/GiuseppesImages/title_background_ym4hwo.png" alt="italian flag styled background">
            <h1 class="centered title">Giuseppes Pizzeria</h1>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <div class="container-fluid">
        <div class="row bg-opacity">
            <nav class="navbar navbar-light social">
                <a href="#" class="nav-item nav-link"><i class="fab fa-facebook"> Facebook</i></a>
                <a href="#" class="nav-item nav-link"><i class="fab fa-instagram"> Instagram</i></a>
                <a href="#" class="nav-item nav-link"><i class="fab fa-linkedin"> Linkedin</i></a>
                <a href="#" class="nav-item nav-link"><i class="fab fa-pinterest"></i> Pinterest</a>
            </nav>
        </div>
    </div>
</footer>
</html>